<div class="panel panel-default">
	<div class="panel-heading text-center"><h3>Autores</h3></div>
	<div>
	
		<div ng-repeat="autor in vm.autor" class="panel-body">
		<p> <a ui-sref="autorDetalhe({autorId:autor.id})">{{autor.nome}} </a> </p>
			
		</div>
	</div>
	
	<div class="panel-footer text-center" ng-if="vm.totalItems">
		<pagination max-size = "vm.size"   ng-change="vm.pageChange()" total-items="vm.totalItems" ng-model="vm.pagina" ng-click="vm.carregarAutores()"items-per-page="vm.size" boundary-links="true"></pagination></div>
	</div>

</div>