<div class="container" id="capituloDiv" tabindex="1" style="outline:none">
	<div class="row">
		<div class="col-md-12">

			<!-- Carrega imagems do capitulo -->
			<div class="text-center" ng-repeat="foto in vm.fotos">
				<img ng-model="vm.pagina" id="imagem" class="img-responsive " data-ng-src="data:image/jpeg;base64,{{foto.fotos}}">

				<div>
					<ul uib-pagination max-size="7" total-items="vm.totalElementos" ng-model="vm.pagina" ng-click="vm.carregarCapitulo()" items-per-page="1"
					 boundary-links="true"></ul>
				</div>
			</div>
			<!-- ./Carrega imagems do capitulo -->

			<!-- Sem imagem -->
			<div ng-if="!vm.fotos.length" class="text-center">
				<h2 class="alert alert-warning">
					Sem imagem
				</h2>
			</div>
			<!-- ./Sem imagem -->
		</div>
	</div>
</div>