<div>
	<h3>{{vm.generosDetalhe.nome}} </h3>
	<div class="jumbotron">
	<div class="container">
				<div class="col-sm-4" ng-repeat="manga in vm.generosDetalhe.manga" >
					<div class="panel panel">
						<div class="panel-body">
							<div>
							 <a ui-sref="mangaDetalhe({mangasId:manga.id})"> {{manga.nome}} </a></br>
								Status : {{manga.status}} </br>
								Data Lancamento: {{manga.dataLancamento}} </br>
								Autor : {{manga.autor.nome}}
							</div>
						</div>
					</div>
				</div>
		</div>		
	</div>	
</div>
