

	<div class="container">
	<div class="col-sm-10" >
<div class="panel panel"  >
	 <div class="panel-heading text-center"><h3>Lista de Generos</h3> </div> 
	
		<div class="panel-body"  ng-repeat="genero in vm.Generos">
		
		<div class="panel-info" >
		<!-- 
					<p><strong> <a class="list-group" ui-sref="generosDetalhe({generoId:genero.id})">{{genero.nome}}</a></strong></p>
				<span class="badge">{{genero.manga.length}}</span> -->
				
				<!-- <button type="button" class="btn btn-primary"  ui-sref="generosDetalhe({generoId:genero.id})">{{genero.nome}} <span class="badge">{{genero.manga.length}}</span></button>
			<div class="list-group"> -->
				<a class="list-group-item" ui-sref="generosDetalhe({generoId:genero.id})">{{genero.nome}}<span class="badge">{{genero.manga.length}}</span></a>
			</div>
		</div>		
		</div>
</div>
</div>
