<div class="container">
	<div class="row">
		<div class="panel panel-primary">

			<div class="panel-heading text-center">
				<div class="panel-title">
						<h3>Generos</h3>
				</div>
			</div><!-- Panel-Heading -->

			<div class="panel-body ">
				<div class="col-sm-3" ng-repeat="genero in vm.Generos">
					<div class="list-group list-group-horizontal" >
						<a class="list-group-item" ui-sref="nav.genero.detalhe({generoId:genero.id})"><strong>{{genero.nome}}</strong>
							<span class="badge">{{genero.manga.length}} Mangas</span><!-- Badge -->
						</a>
					</div>
				</div> <!-- Lista de Generos -->
			</div><!-- Panel-Body -->
		</div><!-- Panel -->
	</div><!-- Row -->
</div><!-- Container -->