<div class="container">
	<div class="row">
		<div class="panel panel-primary">
			<!-- Lista De A-Z -->
			<div class="panel-heading text-center">
				<div class="panel-title">
					<h3>Grupos</h3>
					<ul class="list-inline">
						<li ng-click="vm.false();vm.carregarGrupos()" ng-class="{'active':vm.ativado==''}">
							ALL
						</li>

						<li class="" ng-repeat="letra in vm.letra track by $index" ng-class="{'active':letra==vm.ativado}" ng-click="vm.true();vm.buscarPorLetra(letra)">{{letra}}</li>
					</ul>
				</div>
			</div>
			<!-- ./Lista De A-Z -->

			<!-- Lista de Grupos -->
			<div class="panel-body">
				<div class="panel-info">
					<div class="col-sm-3 col-md-3 col-xs-12" ng-repeat="grupo in vm.grupos">
						<div class="list-group list-group-horizontal ">
							<a class="list-group-item" ui-sref="nav.grupo.detalhe({gruposId:grupo.id})">
								<strong>{{grupo.nome}}</strong>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Lista de Grupos -->

			<div class="panel-footer text-center">
				<!-- Pagination todos os grupos -->
				<div ng-if="vm.status == false && vm.grupos.length">
					<ul uib-pagination max-size="10" total-items="vm.totalElementos" ng-model="vm.paginaPorGrupos" ng-click="vm.carregarGrupos(paginaPorGrupos)"
					 items-per-page="20" boundary-links="true">
					</ul>
				</div>
				<!-- ./Pagination todos os grupos -->

				<!-- Pagination por Letras -->
				<div ng-if="vm.totalElementos2 && vm.status == true">
					<ul uib-pagination max-size="10" total-items="vm.totalElementos2" ng-model="vm.paginaPorLetra" ng-click="vm.buscarPorLetra()"
					 items-per-page="20" boundary-links="true">
					</ul>
				</div>
				<!-- ./Pagination por Letras -->

				<!-- Sem grupos -->
				<div ng-if="!vm.grupos.length">
					<div class="alert">
						<h3>Sem Grupos</h3>
					</div>
				</div>
				<!-- ./Sem grupos -->
			</div>
		</div>
	</div>
</div>