<div class="container">
	<div class="row">

		<div class="container">
			<h3 class="text-center alert novo">Novos Mangas</h3>
			<data-owl-carousel class="owl-carousel owl-theme" id="owl-example" data-options="vm.default">
				<div owl-carousel-item="" class="thumb" ng-repeat="manga in vm.novosMangas">
					<a ui-sref="nav.manga.detalhe({mangasId:manga.id})">
						<img class="img2" data-ng-src="data:image/jpeg;base64,{{manga.capa}}" ng-if="manga.capa">
						<img class="img2" src="/app/img/image.JPG" ng-if="!manga.capa">
					</a>
					<div class="centered">
						{{manga.nome}}
					</div>
				</div>
			</data-owl-carousel>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">
			<!-- Ultimos capitulos adicionados -->
			<div class="panel panel-primary ">
				<div class="panel-heading">
					<div class="panel-title alinhar">Ultimos Capitulos</div>
					<div class="panel-title pull-right">Hoje</div>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item row" ng-repeat="manga in vm.mangaCapitulo">
							<div class="col-md-3 ">
								<a ui-sref="nav.manga.detalhe({mangasId:manga.id})" ng-if="manga.capa">
									<img class="img-rounded img-responsive" data-ng-src="data:image/jpg;base64,{{manga.capa}}">
								</a>
								<a ui-sref="nav.manga.detalhe({mangasId:manga.id})" ng-if="!manga.capa">
									<img src="/app/img/image.JPG" alt="" class="img-rounded img-responsive">
								</a>

							</div>
							<div class="col-md-9">
								<a ui-sref="nav.manga.detalhe({mangasId:manga.id})">
									<strong class="caption">{{manga.nome}}</strong>
								</a>
								<ul class="list-inline">
									<li ng-repeat="capitulo in manga.capitulo" class="badge" ui-sref="nav.capitulo({capituloId:capitulo.id})">
										<strong>{{capitulo.capitulo}}</strong>
									</li>
								</ul>
							</div>
						</li>
					</ul>
					<div ng-if="!vm.mangaCapitulo.length">
						<h3 class="alert alert-warning text-center">Sem Capitulos</h3>
					</div>
				</div>
			</div>
			<!-- ./Ultimos capitulos adicionados -->

			<button type="button" class="btn btn-primary custom" ng-click="vm.mangaUmDiaAtras()" ng-hide="vm.ontemStatus">Ontem</button>

			<div class="panel panel-primary " ng-if="vm.ontemStatus">
				<div class="panel-heading text-center">
					<h4 class="panel-title">Ontem</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item row" ng-repeat="manga in vm.MangasOntem">
							<div class="col-md-3 ">
								<!-- Com foto -->
								<a ui-sref="nav.manga.detalhe({mangasId:manga.id})" ng-if="manga.capa">
									<img class="img-rounded img-responsive" data-ng-src="data:image/jpg;base64,{{manga.capa}}">
								</a>
								<!-- ./Com foto -->

								<!-- Sem foto -->
								<a ui-sref="nav.manga.detalhe({mangasId:manga.id})" ng-if="!manga.capa">
									<img src="/app/img/image.JPG" alt="" class="img-rounded img-responsive">
								</a>
								<!-- ./Sem foto -->
							</div>
							<div class="col-md-9">
								<a ui-sref="nav.manga.detalhe({mangasId:manga.id})">
									<strong class="caption">{{manga.nome}}</strong>
								</a>
								<ul class="list-inline">
									<li ng-repeat="capitulo in manga.capitulo" class="badge" style="background-color:#3a87ad;" ui-sref="nav.capitulo({capituloId:capitulo.id})">
										<strong>{{capitulo.capitulo}}</strong>
									</li>
								</ul>
							</div>
						</li>
					</ul>
					<div ng-if="!vm.MangasOntem.length">
						<h3 class="alert alert-warning text-center">Sem Capitulos</h3>
					</div>
				</div>
			</div>
			<!-- ./Ultimos capitulos adicionados -->

			<button type="button" class="btn btn-primary custom" ng-click="vm.mangasDoisDiasAtras()" ng-if="vm.ontemStatus"
			 ng-hide="vm.anteOntemStatus">Ante Ontem</button>

			<div class="panel panel-primary " ng-if="vm.anteOntemStatus">
				<div class="panel-heading text-center">
					<h4 class="panel-title"> {{vm.anteontem | date :'dd, MM'}}</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item row" ng-repeat="manga in vm.MangasAnteOntem">
							<div class="col-md-3 ">
								<!-- Com foto -->
								<a ui-sref="nav.manga.detalhe({mangasId:manga.id})" ng-if="manga.capa">
									<img class="img-rounded img-responsive" data-ng-src="data:image/jpg;base64,{{manga.capa}}">
								</a>
								<!-- ./Com foto -->

								<!-- Sem foto -->
								<a ui-sref="nav.manga.detalhe({mangasId:manga.id})" ng-if="!manga.capa">
									<img src="/app/img/image.JPG" alt="" class="img-rounded img-responsive">
								</a>
								<!-- ./Sem foto -->
							</div>
							<div class="col-md-9">
								<a ui-sref="nav.manga.detalhe({mangasId:manga.id})">
									<strong class="caption">{{manga.nome}}</strong>
								</a>
								<ul class="list-inline">
									<li ng-repeat="capitulo in manga.capitulo" class="badge" style="background-color:#3a87ad;" ui-sref="nav.capitulo({capituloId:capitulo.id})">
										<strong>{{capitulo.capitulo}}</strong>
									</li>
								</ul>
							</div>
						</li>
					</ul>
					<div ng-if="!vm.MangasAnteOntem.length">
						<h3 class="alert alert-warning text-center">Sem Capitulos</h3>
					</div>
				</div>
			</div>
			<!-- ./Ultimos capitulos adicionados -->
		</div>
	</div>
</div>