
<pre>{{user | json}}</pre>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        	<div class="panel panel-default">
        		<div class="panel-heading">
        			ultimos mangas
        		</div>
        		<div class="panel-body">
					ola        		
        		</div>
        	</div>
        </div>
        <div class="col-md-6">
        	
        </div>
        <div class="col-md-3">
          <div class="panel panel-default">
			<div class="panel-heading">
				<h5>Lancamentos</h5>
			</div>
	
				<div class="panel-body">
					<div class="panel-info">
						<div   ng-repeat="c in vm.capnews">
					<p> <a ui-sref="capituloDetalhes({capituloId:c.manga.id})">{{c.manga.nome}} <strong>{{c.capitulo}}</div></strong> </p> </a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    
    
