<div class="jumbotron">
	<div class="container">
		<div class="row">

			<div class="text-center">
				<h2>A-Z Ordem alfabética</h2>
			</div>

			<ul class="filter list-group text-center">

				<li ng-click=" vm.resetar(); vm.carregarMangas(); vm.mudar = false " ng-class="{'active':vm.activeLetter==''}">All</li>
				<li class="list-group-item" ng-repeat="letra in vm.alfabeto track by $index" ng-click="vm.carregarAlfabeto(letra); vm.mudar = true"
				 ng-class="{'active':letra==vm.activeLetter}">{{letra}}</li>
			</ul>
			<div class="col-sm-3" ng-if="vm.items" ng-repeat="m in vm.Mangas ">

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="panel-info">
							<p>
								<div class-"col-sm-4 col-md-4" ng-if="m.capa">
									<p>
										<a ui-sref="mangaDetalhe({mangasId:m.id})">
											<img  class="img-rounded img-responsive" data-ng-src="data:image/jpeg;base64,{{m.capa}}">
										</a>
									</p>	
								</div>
								<b>
									<a ui-sref="mangaDetalhe({mangasId:m.id})">{{m.nome}}</a>
								</b> -
								<i>
									<a ui-sref="autorDetalhe({autorId:m.autor.id})">{{m.autor.nome}}</a>
								</i>
							</p>

							<p>{{m.status}}</p>
							<label>Generos</label>
							
								<i ng-repeat="genero in m.genero"> <a ui-sref="generosDetalhe({generoId:genero.id})">{{genero.nome}} </a> </i>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center" ng-if="vm.mudar == false ">
		<pagination max-size="vm.size" total-items="vm.items" ng-model="vm.pagina" ng-click="vm.carregarMangas()" items-per-page="vm.size"
		 boundary-links="true"></pagination>
	</div>

	<div class="text-center" ng-if="vm.mudar == true && vm.items">
		<pagination max-size="vm.size" total-items="vm.items" ng-model="vm.alfa" ng-click="vm.carregarAlfabeto() " items-per-page="vm.size"
		 boundary-links="true"></pagination>
	</div>

</div>