<div class="container">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<h3 class="panel-title">{{vm.manga.nome}}</h3>
			</div>

			<!-- Manga Detalhe -->
			<div class="panel-body">
				<div class="panel-info">
					<div class="col-md-3">

						<!-- Com capa -->
						<div ng-if="vm.manga.capa">
							<img class="img-thumbnail imgCustom" data-ng-src="data:image/jpeg;base64,{{vm.manga.capa}}">
						</div>
						<!-- ./Com capa -->

						<!-- Sem capa -->
						<h4 class="panel-title" ng-if="!vm.manga.capa">
							<img src="/app/img/image.JPG" class="img-thumbnail imgCustom">
						</h4>
						<!-- ./Sem capa -->
					</div>
					<div clas="col-sm-9">
						<div class="panel-info">
							<p>
								<b>Autor: </b>
								<a ui-sref="nav.autor.detalhe({autorId:vm.manga.autor.id})">
									{{vm.manga.autor.nome}}</p>
							</a>
							<p>
								<b>Lancamento: </b>{{vm.manga.dataLancado}}</p>
							<p>
								<b>status: </b> {{vm.manga.status}} </p>
							<p>
								<b>Genero:</b>
								<i ng-repeat="genero in vm.manga.genero">
									<a ui-sref="nav.genero.detalhe({generoId:genero.id})" class="badge">{{genero.nome}}</a>
								</i>
							</p>
							<p>
								<b>Descricao: </b>{{vm.manga.descricao}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Manga Detalhe -->
		</div>

		<!-- Tabela de capitulos do manga -->
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Capitulos</h3>
			</div>
			<div class="panel-body">
				<div class="panel-info">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Capitulos </th>
								<th>Data Lancamento</th>
								<th>Grupo</th>
								<th>Ler</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="capitulo in vm.manga.capitulo">
								<td>{{capitulo.capitulo}}</td>
								<td class="joinedDate">{{capitulo.lancamento | date:'MMMM dd, yyyy'}}</td>
								<td>
									<a ui-sref="nav.autor.detalhe({autorId:capitulo.grupo.id})">{{capitulo.grupo.nome}}</a>
								</td>
								<td>
									<a ui-sref="nav.capitulo({capituloId:capitulo.id})">
										<button type="button" class="btn btn-primary">Ler o capitulo</button>
									</a>
								</td>
						</tbody>
					</table>
				</div>
				<div class="alert alert-warning text-center" ng-if="!vm.manga.capitulo.length">
					<h3>Sem Capitulos</h3>					
				</div>
			</div>
		</div>
		<!-- ./Tabela de capitulos de manga -->
	</div>
</div>