<div class=jumbotron style="background-color: #eeeeea">
	<div class="container-fluid">
		<div class=row>
			<div>
				<div class="col-sm-3">
					<img ng-show="mmm.capa" data-ng-src="data:image/jpeg;base64,{{mmm.capa}}" style="height: 350px; width: 250px">
				</div>

				<div class="col-sm-9">
					<p> {{mmm.nome}}
						<p>
						<p> {{mmm.status}} </p>
						<p>{{mmm.dataLancado}}</p>
						<label>descricao</label>
						<p>{{mmm.descricao}}</p>
				</div>


			</div>
		</div>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Tabela</div>
	<div class="panel-body">
		<div>
			<table class="table-striped" style="width:100%">
				<tr>
					<th>Capitulos </th>
					<th>Data Lancamento</th>
					<th>Grupo</th>
					<th>Ler</th>
				</tr>


				<tr ng-repeat="c in vm.Model.ListCapitulos">
					<td>{{c.capitulo}}</td>
					<td>{{c.lancamento}}</td>
					<td>{{c.grupo.nome}}</td>
					<td>
						<a ui-sref="capituloDetalhes({capituloId:c.id})">Ler o capitulo</a>
					</td>

			</table>
		</div>


	</div>
</div>