<h1> Palavra Pesquisada  <strong>"{{vm.a}}"</strong></h1>


<div class="jumbotron">
	<div class="container">
	<div class="col-sm-4" ng-repeat=" d in vm.d">
			<div class="panel panel">
				<div class="panel-body">
				<div class="panel-info">
				
				<p><a ui-sref="mangaDetalhe({mangasId:d.id})">{{d.nome}}</a>  - {{d.autor.nome}}</p>
				<p>{{d.dataLancado}} </p>
				
				<label><strong>Genero:</strong></label>
				<div ng-repeat="genero in d.genero">{{genero.nome}}</div>
			</div>
			</div>
			</div>
	</div>
	</div>
</div>