<div class="container">
	<div class="row">

		<!-- Palavra pesquisada -->
		<div class="alert alert-info">
			<strong>Busca: </strong> {{vm.palavraPesquisada}}
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Pesquisa</h3>
			</div>

			<div class="panel-body">
				<!-- Tabela de Mangas -->
				<div ng-if="vm.manga.length">
					<table class="table">
						<thead>
							<tr>
								<th>Nome</th>
								<th>autor</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody ng-repeat="manga in vm.manga">
							<tr>
								<td>
									<a ui-sref="nav.manga.detalhe({mangasId:manga.id})">
										{{manga.nome}}
									</a>
								</td>
								<td>
									<a ui-sref="nav.autor.detalhe({autorId:manga.autor.id})">{{manga.autor.nome}}</a>
								</td>
								<td>{{manga.status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- ./Tabela de Mangas -->
			</div>

			<div class="panel-footer">
				<!-- Pagination de Mangas-->
				<div class="text-center" ng-if="vm.manga.length">
					<ul uib-pagination max-size="10" total-items="vm.totalEmentos" ng-model="vm.pagina" ng-click="vm.pesquisarNome()" items-per-page="20"
					 boundary-links="true"></ul>
				</div>
				<!-- ./Pagination de Mangas -->

				<!-- Alert -->
				<div class="text-center">
					<div class="alert alert-danger" ng-show="vm.mensagem ">
						<strong>{{vm.mensagem}}</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>