

<!-- Panel Default -->
<div class="panel panel-default">

<!-- Panel Heading -->
<div class="panel-heading text-center"><h1>Salvar Grupos </h1></div>

  <div class="jumbotron">
	<div class="container">
		<div class="row">		
			
			<div class="form-group">
				<!-- Form Grupo -->
				<form name="vm.formGrupo" ng-submit="vm.salvarGrupos()">
				
					<!-- Nome -->
					<div class="form-group" ng-class="{ 'has-error': vm.formGrupo.nome.$dirty && vm.formGrupo.nome.$invalid}">
						<label for="nome">Nome</label>
						<input type="text" maxlength="50" ng-maxlength="49" class="form-control" ng-model="vm.Grupo.nome" id="nome" name="nome" required>
						<span ng-show="vm.formGrupo.nome.$error.required && vm.formGrupo.nome.$dirty" >Campo Obrigatorio</span>
						<span ng-show="vm.formGrupo.nome.$error.maxlength">Tamanho maximo</span>
					</div>
					
					<!-- Salvar -->
					<input type="submit" class="btn btn-primary" value="Salvar" ng-disabled="vm.formGrupo.$invalid"/>
					
						
						<!-- Alerta -->
						<div class="alert alert-warning margin-top-5" ng-show="vm.mensagem">
							{{vm.mensagem}}
						</div>					
				</form>				
			</div>		
		</div>
	</div>
   </div>
		
	<!-- Panel Footer -->
	<div class="panel-footer">
		
		<!-- Pagination -->
		<div class="text-center">
			<pagination max-size = "vm.size"  ng-change="vm.pageChange()" ng-if="vm.items" total-items="vm.items" ng-model="vm.pagina" ng-click="vm.carregarGrupos()" items-per-page="vm.size" boundary-links="true"></pagination>
		</div>
	</div>
</div>

<!-- Table -->
<table class="table">
	<thead>
	<tr>
		<th>Nome</th>
		<th>Editar</th>
	</tr>
	</thead>
	<!-- Conteudo da Tabela -->
	<tr ng-repeat="g in vm.Grupos">
		<td><a ui-sref="grupodetalhe({gruposId:g.id})">{{g.nome}}</a></td>
		<td>
		
			<!-- Editar -->
			<div class="btn-group btn-group-xs">
				
				<!-- Excluir -->
				<button type="button" class="btn btn-default" ng-click="vm.deletarGrupos(g)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				
				<!-- Alterar -->
				<button type="button" class="btn btn-default" ng-click="vm.alterarGrupos(g)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<!-- Cancelar -->
				<button type="button" class="btn btn-default" ng-click="vm.cancelar()">
					<span class="glyphicon glyphicon-asterisk"></span>
				</button>
			</div>		
		</td>
	</tr>	
</table>
