<div class="panel panel-default">
	<div class="panel-heading text-center">
		<h3 class="panel-title">Salvar Mangas</h3>
	</div>

	<div class="panel-body">
		<div class="panel-info">
			<!-- Form Manga -->
			<div class="form-group">
				<form novalidate name="vm.formNovoManga" ng-submit="vm.submit()">

					<!-- Mostrar imagem -->
					<div class="col-sm-3">
						<div>
							<img class="img-responsive" id="img" ng-show="vm.recebeImagem" ngf-src="vm.recebeImagem">
						</div>
					</div>

					<div class="col-sm-9">
						<!-- Nome -->
						<div class="form-group" ng-class="{ 'has-error': vm.formNovoManga.nome.$error.required && vm.formNovoManga.nome.$dirty}">
							<label for="nome-manga">Nome</label>
							<input name="nome" maxlength="100" ng-maxlength="99" type="text" class="form-control " ng-model="vm.manga.nome" placeholder="Nome do Manga"
							 id="nome" required/>
							<span ng-show="vm.formNovoManga.nome.$error.required && vm.formNovoManga.nome.$dirty">Campo Nome Obrigatorio</span>
							<span ng-show="vm.formNovoManga.nome.$error.maxlength">Tamanho maximo</span>
						</div>

						<!-- Opcao -->
						<div class="form-group">
							<label for="opcao-manga">Opcao</label>
							<select name="opcao" maxlength="100" ng-maxlength="99" ng-model="vm.manga.status" ng-options="s for s in vm.status" required></select>
							<span ng-show="vm.formNovoManga.opcao.$error.required && vm.formNovoManga.opcao.$dirty">Campo Opcao E Obrigatorio</span>
						</div>

						<!-- Anos -->
						<div class="form-group">
							<label for="grupo-manga">Anos:</label>
							<select name="anos" ng-model="vm.manga.dataLancado" ng-options="year.value as year.value for year in vm.years" required></select>
							<span ng-show="vm.formNovoManga.anos.$error.required && formnNovoManga.anos.$dirty">Campo Anos e Obrigatorio</span>
						</div>

						<!-- Autor -->
						<div class="form-group">
							<label for="autor-manga">Autor</label>
							<select name="autor" ng-model="vm.manga.autor" ng-options="autor.nome for autor in vm.autor" placeholder="Escolha o autor"></select>
							<span ng-show="vm.formNovoManga.grupo.$error.required && vm.formNovoManga.grupo.$dirty">Campo Autor e Obrigatorio</span>
						</div>

						<!-- Descricao -->
						<div class="form-group">
							<label for="descricao-manga">Descricao</label>
							<textarea name="descricao" class="form-control" ng-model="vm.manga.descricao" placeholder="Escreva a descricao" required></textarea>
							<span ng-show="vm.formNovoManga.descricao.$error.required && vm.formNovoManga.descricao.$dirty">Campo Descricao Obrigatorio</span>
						</div>

						<!-- Seleciona imagem -->
						<div class="form-group">
							<div>
								<input type="file" id="trigger" class="form-control-file" value="clicar" ngf-select="vm.selecionaImagem($file)" accept="image/*"
								/>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-12 col-xs-12">
						<!-- Lista de generos -->
						<div class="text-center">
							<h3>GENEROS </h3>
							<div class="form-group">
								<ul ng-repeat="_genero in vm.generos" class="lista">
									<li class="">
										<label>
											<input ng-model="_genero.Selecionado" ng-change="vm.Selecionar()" type="checkbox" ng-click="vm.il(_genero)" />
											<span ng-bind="_genero.nome"></span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<!-- ./Lista de generos -->
					</div>

					<div class="text-center">
						<!-- Salvar -->
						<input type="submit" value="Salvar" class="btn btn-primary " ng-disabled="vm.formNovoManga.$invalid" />

						<!-- Cancelar -->
						<input type="button" value="cancelar" class="btn btn-primary" ng-click="vm.cancelarMangas()">
					</div>

					<!-- Alerta -->
					<div class="alert alert-warning" ng-show="vm.mensagem">
						{{vm.mensagem}}
					</div>
				</form>
			</div>
			<!-- ./Form Mangas -->
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading text-center">
		<h3 class="panel-title">Editar Mangas</h3>
	</div>

	<div class="panel-body">
		<div class="panel-info">
			<!-- Tabela Mangas -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Autor</th>
						<th>Lancamento</th>
						<th>Status</th>
						<th>descricao</th>
						<th>editar</th>
					</tr>
				</thead>

				<!-- Lista de mangas -->
				<tbody >
					<tr ng-repeat="manga in vm.Mangas ">
						<td>
							<a ui-sref="nav.manga.detalhe({mangasId:manga.id})">{{manga.nome}}
							</a>
						</td>
						<td>
							<a ui-sref="nav.autor.detalhe({autorId:manga.autor.id})">{{manga.autor.nome}}</a>
						</td>
						<td>{{manga.dataLancado}}</td>
						<td>{{manga.status}}</td>
						<td class="text">
							<span>{{manga.descricao}}</span>
						</td>

						<td>
							<div class="btn-group btn-group-xs" role="group" ng-init="editmode=false">
								<!-- Excluir -->
								<button type="button" class="btn btn-default" ng-click="vm.excluirMangas(manga)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>

								<!-- Alterar -->
								<button type="button" class="btn btn-default" ng-click="vm.alterarMangas(manga)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>

								<!-- Cancelar -->
								<button type="button" class="btn btn-default" ng-click="vm.Cancelar()">
									<span class="glyphicon glyphicon-asterisk"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- ./Tabela de mangas -->
		</div>
	</div>

	<div class="panel-footer text-center">
		<!-- Pagination de mangas -->
		<div ng-if="vm.Mangas.length">
			<pagination max-size="10" ng-change="vm.pageChange()" total-items="vm.totalElementos" ng-model="vm.pagina" ng-click="vm.carregarMangas()"
			 items-per-page="20" boundary-links="true"></pagination>
		</div>
		<!-- ./Pagination de mangas  -->

		<!-- Sem Mangas -->
		<div ng-if="!vm.Mangas.length">
			<h3 class="alert">Sem Mangas</h3>
		</div>
		<!-- ./Sem Mangas -->
	</div>
</div>