<div class="panel panel-default">
	<div class="panel-heading text-center">
		<h3 class="panel-title">Salvar Capitulos</h3>
	</div>

	<div class="panel-body">
		<div class="panel-info">
			<!-- Form Capitulo -->
			<div class="form-group">
				<form name="vm.formCapitulo" class="form-horizontal" ng-submit="vm.salvarCapitulos()" novalidate>

					<!-- Numero do Capitulo -->
					<div class="form-group" ng-class=" {'has-error': vm.formCapitulo.capitulo.$invalid && vm.formCapitulo.capitulo.$dirty}">
						<label for="Capitulo" class="control-label col-xs-3">Capitulo</label>
						<div class=" col-xs-7">
							<input name="capitulo" id="Capitulo" class="form-control" type="number" ng-model="vm.capitulo.capitulo"
							 onKeyPress="if(this.value.length==4) return false;" min="0" max="9999" ng-maxlength="9998" required />
							<span ng-show="vm.formCapitulo.capitulo.$error.required && vm.formCapitulo.capitulo.$dirty">Campo Obrigatorio</span>
						</div>
					</div>

					<!-- Seleciona o Manga -->
					<div class="form-group" ng-class=" {'has-error': vm.formCapitulo.manga.$invalid && vm.formCapitulo.manga.$touched}">
						<label form="Manga" class="control-label col-xs-3">Manga</label>
						<select id="Manga" name="manga" ng-model="vm.capitulo.manga" ng-options="manga.nome for manga in vm.Mangas track by manga.id"
						 required>
						</select>
						<span ng-show="vm.formCapitulo.manga.$touched && vm.formCapitulo.manga.$error.required">Campo Obrigatorio</span>
					</div>

					<!-- Seleciona o Grupo do Manga -->
					<div class="form-group" ng-class=" {'has-error': vm.formCapitulo.grupo.$invalid && vm.formCapitulo.grupo.$touched}">
						<label form="Grupo" class="control-label col-xs-3">Grupos</label>
						<select id="Grupo" name="grupo" ng-model="vm.capitulo.grupo" ng-options="grupo.nome for grupo in vm.Grupos track by grupo.id"
						 required>
						</select>
						<span ng-show="vm.formCapitulo.grupo.$touched && vm.formCapitulo.grupo.$error.required">Campo Obrigatorio</span>
					</div>

					<div class="text-center">
						<!-- Salvar Capitulo-->
						<input type="submit" class="btn btn-primary text-center" ng-disabled="vm.formCapitulo.$invalid" value="Salvar">

						<!-- Cancelar -->
						<input type="button" class="btn btn-primary" value="cancelar" ng-click="vm.cancelarCapitulo()">
					</div>

					<!-- Alerta -->
					<div uib-alert class="alert alert-success text-center" close="vm.closeMsg()" dismiss-on-timeout="2500" ng-if="vm.mensagem.length">{{vm.mensagem}}</div>
				</form>
			</div>
			<!-- ./Form Capitulo -->
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading text-center">
		<h1 class="panel-title">Salvar Paginas</h1>
	</div>
	<div class="panel-body">
		<div class="panel-info">
			<!-- Form Salvar Paginas -->
			<div class="form">
				<form novalidate name="vm.formPagina" class="form-horizontal">

					<!-- Retorna o Mangas -->
					<div class="form-group" ng-class=" {'has-error': vm.formPagina.manga.$invalid && vm.formPagina.manga.$touched}">
						<label class="control-label col-xs-3">Manga</label>
						<div class="col-xs-7">
							<select id="Manga" name="manga" ng-model="vm.pagina.manga" ng-change="vm.capituloPorManga()" ng-options="manga.id as manga.nome for manga in vm.Mangas"
							 required>
							</select>
							<span ng-show="vm.formPagina.manga.$touched && vm.formPagina.manga.$error.required">Campo Obrigatorio</span>
						</div>
					</div>

					<!-- Seleciona o capitulo do manga -->
					<div class="form-group" ng-class=" {'has-error': vm.formPagina.capitulo.$invalid && vm.formPagina.capitulo.$touched}">
						<label class="control-label col-xs-3">Capitulo</label>
						<div class="col-xs-7">
							<select id="Capitulo" name="capitulo" ng-model="vm.pagina.capitulo" ng-options="capitulo.id as capitulo.capitulo for capitulo in vm.capituloManga"
							 required></select>
							<span ng-show="vm.formPagina.capitulo.$touched && vm.formPagina.capitulo.$error.required">Campo Obrigatorio</span>
						</div>
					</div>
					<!-- ./Seleciona o capitulo do manga  -->

					<!-- Seleciona Paginas -->
					<div class="form-group">
						<label class="control-label col-sm-3">Paginas</label><br>
						<div class="col-xs-7">
							<input type="file" id="pagina" name="pagina" ngf-select="vm.selecionarPagina($files,$invalidFiles)" ngf-pattern="image/*"
							 multiple="multiple" ngf-max-size="2MB" class="form-control" placeholder="Files" accept="image/*">
							<!-- ./Alert Erro da Pagina -->
						</div>
					</div>
					<!-- ./Seleciona Paginas -->

					<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 bar">
						<!-- Lista de paginas -->
						<div class="col-md-2 col-sm-3 col-lg-2 col-xs-6" ng-repeat="pagina in vm.paginas track by $index" ng-init="vm.pagina.contador[$index] = $index+1">
							<div class="panel panel-default panel-front" id="cpanel-custom">
								<div class="panel-heading">
									<h4 class="panel-title">
										<!-- Display image -->
										<img id="image" class="img-responsive" ng-show="pagina" ngf-src="pagina">
									</h4>
								</div>
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group" ng-hide="pagina.progress >=0">
											<label class="col-xs-6 col-md-6 col-sm-6 control-label">Pagina</label>
											<div class="col-xs-6 col-md-6 col-sm-6">
												<!-- Numero da pagina -->
												<input class="form-control" type="number" id="pagina" accept="image/*" ng-model="vm.pagina.contador[$index]"
												 ng-hide="pagina.progress >=0">
											</div>
										</div>
									</form>
									<!-- Progress upload -->
									<span class="progress" ng-show="pagina.progress >= 0">
										<div style="width:{{pagina.progress}}%" ng-bind="pagina.progress + '%'"></div>
									</span>
								</div>
							</div>
						</div>
						<!-- Lista de paginas -->

						<!-- Alert erro da pagina -->
						<div ng-repeat="pagina in vm.paginaErro" class="col-md-2 col-sm-3 col-lg-2 col-xs-6" ng-if="vm.paginaErro.length">
							<div class="panel panel-default panel-front" id="cpanel-custom">
								<div class="panel-heading">
									<h4 class="panel-title">
										<!-- Display image -->
										<img id="image" class="img-responsive" ng-show="pagina" ngf-src="pagina">
									</h4>
								</div>
								<div class="panel-body alert-danger" ng-hide="pagina.progress >=0">
									<p class="custom-p">{{pagina.name}}</p>
									<p>
										{{pagina.size / 1000000|number:1}}MB -
										Máximo 2mb por imagem
									</p>
								</div>
							</div>
						</div>
						<!-- ./Alert erro da pagina -->
					</div>

					<div class="text-center">
						<!-- Salva as fotos -->
						<input type="button" class="btn btn-primary" ng-disabled="vm.formPagina.$invalid" ng-click="vm.uploadPaginas()"
						 id="save" value="Salvar" />

						<!-- Cancelar -->
						<input class="btn btn-primary" value="Cancelar" type="button" ng-click="vm.cancelarPagina()">
					</div>
				</form>
				<!-- Alerta -->
				<div class="alert alert-success text-center" ng-if="vm.paginas.length" ng-show="vm.mensagemPagina">{{vm.mensagemPagina}}</div>
			</div>
			<!-- ./Form Salvar Paginas -->
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title text-center">Editar Capitulos</h3>
	</div>

	<div class="panel-body">
		<div class="panel-info">
			<div class="col-md-3">
				<select name="manga" ng-model="vm.mangaId" ng-change="vm.listaCapitulosPorManga();vm.limparPaginas()" ng-options="manga.id as manga.nome for manga in vm.Mangas">
				</select>
			</div>
		</div>

		<div class="col-md-9 table-responsive">
			<!-- Tabela de Capitulos -->
			<table class="table table-flex">
				<thead>
					<tr>
						<th>Capitulo</th>
						<th>Grupo</th>
						<th>Data</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="capitulo in vm.listaCapitulos.capitulo">
						<td>{{capitulo.capitulo}}</td>
						<td>{{capitulo.grupo.nome}}</td>
						<td>{{capitulo.lancamento | date:'dd MM,yyyy'}}</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-default" value="excluir" ng-click="vm.excluirCapitulo(capitulo)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</div>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-default" value="editar" ng-click="vm.editarCapitulo(capitulo)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- ./Tabela de Capitulos -->
		</div>
	</div>
</div>