<div class="jumbotron">
	<div class="container">
	 <div class="row">		
			<div class="form-group">
				<form name="form-novo-manga" ng-submit="vm.salvarMangas()">

					<div class="form-group">
						<label for="nome-manga">Nome</label>
						 <input type="text" class="form-control" ng-model="vm.Model.Manga.nome" placeholder="Nome do Manga" />
					</div>

					<div class="form-group">
						<label for="opcao-manga">Opcao</label>
						 <select ng-model="vm.Model.Manga.status" ng-options="s for s in vm.status"></select>
					</div>
					
					<div class="form-group">
						<label for="grupo-manga">Anos:</label>
						 <select ng-model="vm.Model.Manga.dataLancado"	ng-options="year.value as year.value for year in years"></select>
					</div>

					<div class="form-group">
						<label for="autor-manga">Autor</label>
						 <select ng-model="vm.Model.Manga.autor" ng-options="autor.nome for autor in vm.Model.autor"
							placeholder="Escolha o autor"></select>
					</div>

					<div class="form-group">
						<label for="descricao-manga">Descricao</label>
						 <textarea  class="form-control" ng-model="vm.Model.Manga.descricao" placeholder="Escreva a descricao"></textarea>
					</div>
					
					 <div>          
          <h3>GENEROS ARRAY </h3>
          <div class="form-group">
			<ul>
				<li ng-repeat="_genero in vm.Model.generos">
					<label>
			 			<input ng-model="_genero.Selecionado"
			 					ng-change="vm.Selecionar()"
			 					type="checkbox" />
			 			<span ng-bind="_genero.nome"></span>			 			
			 		</label>
				</li>
			</ul>			 
			</div>			
     </div>
					

					<input type="submit" value="Salvar" />
				</form>
			</div>

		</div>
	</div>
</div>
<br>

<div class="panel panel-default">
	<div class="panel-heading">Panel heading</div>

	<table class="table " >
		<thead>
			<tr>
				<th>Nome</th>
				<th>Autor</th>
				<th>Lancamento</th>
				<th>Status</th>
				<th>editar</th>
			</tr>
		</thead>

		<tbody ng-repeat="manga in vm.Mangas | startFrom: 0 | limitTo:20: filter:q">
			<tr>
				<td>{{manga.nome}}</td>
				<td>{{manga.autor.nome}}</td>
				<td>{{manga.dataLancado}}</td>
				<td>{{manga.status}}</td>
				<td>
					<div class="btn-group btn-group-xs" role="group" ng-init="editmode=false">
						<button type="button" class="btn btn-default" ng-click="vm.excluirMangas(manga)">
						<span class="glyphicon glyphicon-remove"></span>						
						</button>
						
						<button type="button" class="btn btn-default" ng-click="vm.alterarMangas(manga)">
						<span class="glyphicon glyphicon-pencil"></span>
						</button>
						
						<button type="button" class="btn btn-default" ng-click="vm.Cancelar()">
							<span class="glyphicon glyphicon-asterisk"></span>
						</button>
				
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<pagination max-size = "vm.size"   ng-change="vm.pageChange()" total-items="vm.totalElementos" ng-model="vm.pagina" ng-click="vm.carregarMangas2()" items-per-page="vm.size" boundary-links="true"></pagination></div>
	

</div>
  ola
  <input ng-model="searchValue" id="search" class="form-control" placeholder="Filter text"/>
	
	<div  ng-repeat="m in vm.Mangas | startFrom:0 | limitTo: 20 | filter:q">
    </div>
    <input type="button" value="next" ng-click="vm.nextPage()" ng-disabled="vm.totalDePaginas < vm.page"/>
    {{vm.page}} / {{vm.totalDePaginas}}
    
    <input type="button" value="previous" ng-click="vm.prevPage()">
    



