<div class="panel panel-default">
	<div class="panel-heading">Adm Generos</div>
	
	<div class="jumbotron"> 
		<div class="container">
			<div class="row">
				<div class="form-group">
					<form name="form-genero-grupo" ng-submit="vm.salvarGeneros()">
						<div class="form-group">
							<label for="nome-genero">Nome</label>
							<input type="text" class="form-control" ng-model="vm.Genero.nome">
						</div>
						
						
						<input type="submit" value="salvar">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<table class="table">
	<tr>
		<th>Nome</th>
		<th>Edit</th>
	</tr>
	<tr ng-repeat="genero in vm.Generos">
		<td><a ui-sref="generosDetalhe({generoId:genero.id})">{{genero.nome}}</a></td>
		<td>
			<div class="btn-group btn-group-xs">
				<button type="button" class="btn-default">
					<span class="glyphicon glyphicon-remove" ng-click="vm.deletarGeneros(genero)"></span>
				</button>
				<button type="button" class="btn-default"> 
						<span class="glyphicon glyphicon-pencil" ng-click="vm.alterarGeneros(genero)"></span>
				</button>
				<button type="button" class="btn-default">
					<span class="glyphicon glyphicon-asterisk" ng-click="vm.cancelar()"></span>
				</button>
			
			</div>
		</td>
	</tr>
	
	
</table>