<div>
	ola, vou add os capitulos 
	<br/>
	{{vm.Model.title}}
	<br/>
	<label>Capitulo</label>
	<input type="number" ng-model="vm.Model.Capitulo.capitulo"/>
	
	<br/>
	
	<label>Manga</label>
		<select ng-model="vm.Model.Capitulo.manga" ng-options=" manga.id as manga.nome for manga in vm.Model.Mangas">
		</select>
	
	<label> Grupos</label>
		<select ng-model="vm.Model.Capitulo.grupo" ng-options="grupo as grupo.nome for grupo in vm.Model.Grupos">
		</select>
		
	<input type="date" id="exampleInput" name="input" ng-model="vm.Model.Capitulo.lancamento" min="2017-01-01" max="2017-12-30" placeholder="yyyy-MM-dd" />

		
	<input type="button" value="salvar" ng-click="vm.salvarCapitulos()"/>
	
	<br/>
	<!-- <pre>{{vm.Model | json}}</pre> -->
	
	<select ng-options="size as size.name for size in sizes" ng-model="item" ng-change="update()"></select>
	
	<select ng-model="item">{{item}}</select>
	<p>{{item.name}} - {{item.name}}</p>
	
	<p>Enter Your Name: <input type="text" ng-model="name"></p>
	<p> Hello <span ng-bind="name"></span></p>
	<p> Hi <input type="text" value="{{name}}"></p>
	<p>Ahoy <input type="text" ng-value="name"></p>
	
	<H1>vm.uploadFiles2</H1>
		
		<label>info</label>	
		<input type="text" ng-model="nome">
		<label>Capitulo NUMERO</label>
		<input type="text" ng-model="capitulo" ng-bind="vm.Model.Capitulo.capitulo"> 	
		<label> ADICIONA PAGINA</label>
		<button ngf-select="vm.uploadFiles2($files)" multiple     accept="image/*">Select Files</button>
		<hr/>
				
		<br/>
		
		<hr/>
		
		
    <select data-ng-model="vm.selectedScreenIndex" data-ng-change="vm.select()">
      <option 
      value="{{screen.id}}" 
      ng-repeat="screen in vm.screens">
       {{screen.name}}
      </option>
  </select>
  <ul>
    <li data-ng-repeat="sectionItems in vm.selectedItem.sections">{{sectionItems}}</li>
  </ul>
  
 
</div>