<div class="jumbotron">
	<div class="container">
	 <div class="row">		
			<div class="form-group">
				<form novalidate name="formNovoManga" ng-submit="vm.salvarMangas()">

					<div class="form-group">
						<label for="nome-manga">Nome</label>
						 <input name="nome" ng-minLength="2" type="text" class="form-control" ng-model="vm.Model.Manga.nome" placeholder="Nome do Manga" id="nome" required/>
						 <span ng-show="formNovoManga.nome.$error.required && formNovoManga.nome.$dirty">Campo Nome Obrigatorio</span>
					</div>

					<div class="form-group">
						<label for="opcao-manga">Opcao</label>
						 <select name="opcao" ng-model="vm.Model.Manga.status" ng-options="s for s in vm.status" required></select>
						 <span ng-show="formNovoManga.opcao.$error.required && formNovoManga.opcao.$dirty">Campo Opcao E Obrigatorio</span>
					</div>
					
					<div class="form-group">
						<label for="grupo-manga">Anos:</label>
						 <select name="anos" ng-model="vm.Model.Manga.dataLancado"	ng-options="year.value as year.value for year in years"></select>
						 <span ng-show="formNovoManga.anos.$error.required && formnNovoManga.anos.$dirty">Campo Anos e Obrigatorio</span>
					</div>

					<div class="form-group">
						<label for="autor-manga">Autor</label>
						 <select name="grupo" ng-model="vm.Model.Manga.autor" ng-options="autor.nome for autor in vm.Model.autor"
							placeholder="Escolha o autor"></select>
							<span ng-show="formNovoManga.grupo.$error.required && formNovoManga.grupo.$dirty">Campo Autor e Obrigatorio</span>
					</div>

					<div class="form-group">
						<label for="descricao-manga">Descricao</label>
						 <textarea  name="descricao" class="form-control" ng-model="vm.Model.Manga.descricao" placeholder="Escreva a descricao" required></textarea>
						 <span ng-show="formNovoManga.descricao.$error.required && formNovoManga.descricao.$dirty">Campo Descricao Obrigatorio</span>
					</div>
					
					 <div>          
          <h3>GENEROS ARRAY </h3>
          <div class="form-group">
			<ul>
				<li ng-repeat="_genero in vm.Model.generos">
					<label>
			 			<input ng-model="_genero.Selecionado"
			 					ng-change="vm.Selecionar()"
			 					type="checkbox" />
			 			<span ng-bind="_genero.nome"></span>			 			
			 		</label>
				</li>
			</ul>			 
			</div>			
     </div>				

					<input type="submit" value="Salvar" class="btn btn-primary" ng-disabled="formNovoManga.$invalid"/>
					
					
				</form>
				
				<fieldset>
					<legend>Formulario</legend>
					Valid: {{formNovoManga.$valid}}
				</fieldset>
				
				<fieldset>
					<legend>nome</legend>
					Valid: {{formNovoManga.nome.$valid}} <br/>
					Pristine: {{formNovoManga.nome.$pristine}} <br/>
					Dirty: {{formNovoManga.nome.$dirty}} <br/>
					Error Min Length: {{formNovo.nome.$error.minLength}}
				</fieldset>
				
				<fieldset>
					<legend>descricao</legend>
					Valid: {{formNovoManga.descricao.$valid}} <br/>
					Pristine: {{formNovoManga.descricao.$pristine}} <br/>
					Dirty: {{formNovoManga.descricao.$dirty}} <br/>
				</fieldset>
			</div>

		</div>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Panel heading</div>

	<table class="table " >
		<thead>
			<tr>
				<th>Nome</th>
				<th>Autor</th>
				<th>Lancamento</th>
				<th>Status</th>
				<th>descricao</th>
				<th>editar</th>
				
			</tr>
		</thead>

		<tbody ng-repeat="manga in vm.Mangas | startFrom: 0 | limitTo:20: filter:q">
			<tr>
				<td>{{manga.nome}}</td>
				<td>{{manga.autor.nome}}</td>
				<td>{{manga.dataLancado}}</td>
				<td>{{manga.status}}</td>
				<td class="text"><span>{{manga.descricao}}</span></td>
				<td>
					<div class="btn-group btn-group-xs" role="group" ng-init="editmode=false">
						<button type="button" class="btn btn-default" ng-click="vm.excluirMangas(manga)">
						<span class="glyphicon glyphicon-remove"></span>						
						</button>
						
						<button type="button" class="btn btn-default" ng-click="vm.alterarMangas(manga)">
						<span class="glyphicon glyphicon-pencil"></span>
						</button>
						
						<button type="button" class="btn btn-default" ng-click="vm.Cancelar()">
							<span class="glyphicon glyphicon-asterisk"></span>
						</button>
				
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<pagination max-size = "vm.size"   ng-change="vm.pageChange()" total-items="vm.totalElementos" ng-model="vm.pagina" ng-click="vm.carregarMangas2()" items-per-page="vm.size" boundary-links="true"></pagination></div>
	

</div>
  ola
  <input ng-model="searchValue" id="search" class="form-control" placeholder="Filter text"/>
	
	<div  ng-repeat="m in vm.Mangas | startFrom:0 | limitTo: 20 | filter:q">
    </div>
    <input type="button" value="next" ng-click="vm.nextPage()" ng-disabled="vm.totalDePaginas < vm.page"/>
    {{vm.page}} / {{vm.totalDePaginas}}
    
    <input type="button" value="previous" ng-click="vm.prevPage()">
    



