<div>
	olá, eu sou capitulo TUTS2xxx
	
	<br/>
	
	 <label>Manga</label>
		<select ng-model="vm.Model.foto.fotos" ng-options=" fotos.numeroPagina as fotos.numeroPagina for fotos in vm.foto">
		   </select>
	<pre>{{vm.Model | json}}</pre>

	 
	<!-- 	<div ng-repeat="foto in vm.foto">
			<h1>Numero da Pagina: {{foto.numeroPagina}}</h1>
			<img data-ng-src="data:image/jpeg;base64,{{foto.fotos}}">
		</div>
	
	
	  <hello-world></hello-world>
    <div hello-world></div>
    <div class="hello-world"></div>
    directive:hello-world  -->
    
    Eu sou {{vm.nome}}
    
    <h1>UI-Bootstrap Carousel</h1>
	<div ng-controller="capituloController as CarouselDemoCtrl">
		<div style="height: 1200px">
			<carousel>
			 <slide ng-repeat="slide in vm.fotos"> <img
				data-ng-src="data:image/jpeg;base64,{{slide.fotos}}"
				style="margin: auto;">
			<div class="carousel-caption">
				<h4>Slide {{$index}}</h4>
				<p>{{slide.text}}</p>
			</div>
			</slide>
          </carousel>
		</div>
		
	</div>