
{{vm.ola}}

<h1>Welcome paginas grupos detalhes</h1>

<div class="jumbotron">
	<div class="container">		
			<div class="col-sm-4" ng-repeat="manga in vm.grupod">
				<div class="panel panel">
					<div class="pabel-body">
						<div class="panel-info" >
						<p><strong><a ui-sref="mangaDetalhe({mangasId:manga.id})"> {{manga.nome}}</a></strong></p>
						<p>{{manga.autor.nome}}</p>						
							<div ng-repeat="genero in manga.genero">
							<ul>{{genero.nome}}</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		
	</div>
</div>

<div ng-repeat="manga in vm.grupod">
	{{manga}}
</div>

<div ng-repeat="c in vm.c">
<h1>OLA MUNDO</h1>
	{{c}}
</div>