
<div class="jumbotron" >
	<div class="container">
	<div class="col-sm-4"  ng-if="vm.items" data-ng-repeat="m in vm.Mangas | filter:searchValue  ">
		
		<div class="panel panel" >
			<div class="panel-body">
				<div class="panel-info">
					 <p><strong><a ui-sref="mangaDetalhe({mangasId:m.id})">{{m.nome}}</a></strong>
					  - <i> <a ui-sref="autorDetalhe({autorId:m.autor.id})">{{m.autor.nome}}</a></i></p>
					<p>{{m.status}}</p>
					
					<label>Generos</label>
					<ul>
						<li ng-repeat="genero in m.genero">{{genero.nome}} </li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	</div>
	<pagination max-size = "vm.size" ng-change="vm.pageChange()" ng-if="vm.items" total-items="vm.items" ng-model="vm.pagina" ng-click="vm.carregarMangas2()"items-per-page="vm.size" boundary-links="true"></pagination>
     <h1>pagina</h1> : {{vm.pagina}} ; vmpage = {{vm.page}}
     
     p: {{p}}
</div>		
	<input ng-model="searchValue" id="search" class="form-control" placeholder="Filter text"/>
	<h1>pagina</h1>
	
	 
  
     <br/>
	<input type="button" value="next" ng-click="vm.nextPage()" ng-disabled="vm.totalDePaginas < vm.page"/>
	
	{{vm.page}} / {{vm.totalDePaginas}}
	<input type="button" value="previous" ng-click="vm.prevPage()">
	
	
