
<div class="jumbotron" >
	<div class="container">
	<div class="col-sm-4" ng-repeat="m in vm.Mangas">
		
		<div class="panel panel" >
			<div class="panel-body">
				<div class="panel-info">
					 <p><strong><a ui-sref="mangaDetalhe({mangasId:m.id})">{{m.nome}}</a></strong>
					  - <i> <a ui-sref="autorDetalhe({autorId:m.autor.id})">{{m.autor.nome}}</a></i></p>
					<p>{{m.status}}</p>
					
					<label>Generos</label>
					<ul>
						<li ng-repeat="genero in m.genero">{{genero.nome}} </li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	</div>
</div>		
	<input ng-model="q" id="search" class="form-control" placeholder="Filter text"/>
	
	<div  ng-repeat="m in vm.Mangas | startFrom:0 | limitTo: 20 | filter:q">
		
	</div>	  
	
	<input type="button" value="next" ng-click="vm.nextPage()" ng-disabled="vm.totalDePaginas < vm.page"/>
	
	{{vm.page}} / {{vm.totalDePaginas}}
	<input type="button" value="previous" ng-click="vm.prevPage()">
	
	
