<div>
	Ola, eu sou a tela de login
	
	<div class="container" style="padding-top:10px">
	<h2> fazer login</h2>
	 
		<form class="form-horizontal" ng-submit="vm.autenticar()" >			
			<div class="form-group">
				<label class="control-label col-xs-2">Nome : </label>
				<div class="col-xs-6">
					<input class="form-control" type="text" ng-model="username" id="username"> 
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-2">Senha : </label>
				<div class="col-xs-6">
					<input class="form-control col-xs-6" type="password" ng-model="password" id="pwd">
				</div>
			</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-xs-10">
						<button class="btn btn-default" type="submit" >Autenticar</button>				
						<button class="btn btn-default" ui-sref="registrar">Registrar</button>				 
				</div>
			</div>		
		</form>
		
		{{vm.token}}
		{{message}}
	</div>
</div>