<div>
	Ola, eu sou a tela de login
	
	<div class="container" style="padding-top:10px">
	<h2> fazer login</h2>
	 
		<form name="vm.formLogin" class="form-horizontal" ng-submit="vm.autenticar()" >			
			<div class="form-group">
				<label class="control-label col-xs-2">Nome : </label>
				<div class="col-xs-6">
					<input class="form-control" type="text" ng-model="username" id="username" name="nome" required>
					<span ng-show="vm.formLogin.nome.$dirty && vm.formLogin.nome.$error.required">Campo Nome Obrigatorio</span> 
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="control-label col-xs-2">Senha : </label>
				<div class="col-xs-6">
					<input class="form-control col-xs-6" type="password" ng-model="password" id="password" name="senha" required>
					<span ng-show="vm.formLogin.senha.$dirty && vm.formLogin.senha.$error.required">Campo Senha Obrigatorio</span>
				</div>
			</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-xs-10">
						<button class="btn btn-default" type="submit" ng-disabled="vm.formLogin.$invalid">Autenticar</button>				
						<button class="btn btn-default" ui-sref="registrar">Registrar</button>				 
				</div>
			</div>		
		</form>
		
		<fieldset>
			<legend>Formulario</legend>
			valido: {{vm.formLogin.$valid}}
		</fieldset>
		
		<fieldset>
			<legend>Nome</legend>
			valid: {{vm.formLogin.nome.$valid}} <br/>
			Dirty: {{vm.formLogin.nome.$dirty}} <br/>
			Error: {{vm.formLogin.nome.$error.required}}
			Error e Dirty: {{vm.formLogin.nome.$error.required && vm.formLogin.nome.$dirty}}
		</fieldset>
		
		{{vm.token}}
		{{message}}
	</div>
</div>