<div class=jumbotron>
	<div class="container">
		<div class=row>
			<p> {{mmm.nome}} <p> 
			<p> {{mmm.status}} </p>
			<p>{{mmm.dataLancado}}</p>
			<label>descricao</label>
			<p>{{mmm.descricao}}</p>
		</div>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Tabela</div>
	<div class="panel-body">
		<div>
	<table class="table-striped" style="width:100%" >
	 <tr>
		<th>Capitulos </th>
		<th>Data Lancamento</th>
		<th>Grupo</th>
		<th>Ler</th>
	 </tr>
		
		
	<tr ng-repeat="c in vm.Model.ListCapitulos">
		<td>{{c.capitulo}} - {{c.id}}</td>
		<td>{{c.lancamento}}</td>
		<td>{{c.grupo.nome}}</td>	
		<td>
		 <a ui-sref="capituloDetalhes({capituloId:c.id})">Ler o capitulo</a>
		</td>
	
	</table>
</div>
		
	
	</div>
</div>

