<div>
	
	<input type="text" ng-model="vm.Model.Manga.nome"/>
	<select ng-model="vm.Model.Manga.status" ng-options="s for s in vm.status"></select>
	
	
	<div>
	<label>Anos:</label>
		<select ng-model="vm.Model.Manga.dataLancado" ng-options="year.value as year.value for year in years"></select>
	</div>	
	
	<div>
	<label>Autor</label>
		<select ng-model="vm.Model.Manga.autor" ng-options="autor.nome for autor in vm.Model.autor"></select> 
	</div>
	
	
	<input type="button" value="Salvar" ng-click="vm.salvarMangas()"/>
		</div>
 <br>
	 
 <div ng-repeat="m in vm.Model.Mangas">
 	Manga {{m.id +' - ' + m.nome}} <br/> 
 	Status: {{ m.status }}<br/>
 	Data Lancamento: {{m.dataLancado}} <br/>
 	Autor: {{m.autor.nome }} <br/>
 	Generos:<div ng-repeat="_generos in m.genero">
 		{{_generos.nome}}
 	</div>
 		 <br/>
 	 <input type="button" value="Excluir" ng-click="vm.excluirMangas(m)"/>
 	  <input type="button" value="Alterar" ng-click="vm.alterarMangas(m)"/>
 	  <input type="button" value="cancelar" ng-click="vm.Cancelar()"/>  <br/>
 	  <!-- <a href="mangas/{{m.id}}">Detalhe</a> -->
 	  <a ui-sref="mangasDetalhe({mangasId:m.id})">Detalhe do manga</a>
 	  
 		
 	 <p/> <hr/>
 </div>
	<div>
		
          
          <h3>GENEROS ARRAY </h3>
          <div class="form-group">
			<ul>
				<li ng-repeat="_genero in vm.Model.generos">
					<label>
			 			<input ng-model="_genero.Selecionado"
			 					ng-change="vm.Selecionar()"
			 					type="checkbox" />
			 			<span ng-bind="_genero.nome"></span>			 			
			 		</label>
				</li>
			</ul>
			 
			</div>
			<pre ng-bind="vm.Model | json"></pre>
          
        </div>
</div>