<!DOCTYPE html>
<!-- Angular App -->
<html ng-app="appCliente">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>MangasTech</title>
	<!-- JS ========  -->
	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
	 crossorigin="anonymous" type="text/javascript"></script>
	<!-- Carrega Angular  -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<!-- Angular Animate  -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.js"></script>
	<!-- Angular File Upload  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.js"></script>
	<!-- Angular Ui Router  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.18/angular-ui-router.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>

	<!-- Controllers  =============-->
	<script src="/app/app.route.js"></script>
	<script src="/app/admin.route.js"></script>
	<script src="/app/app.run.js"></script>
	<script src="/app/controllers/genero.js"></script>
	<script src="/app/controllers/manga-detalhe.js"></script>
	<script src="/app/controllers/grupo.js"></script>
	<script src="/app/controllers/capitulo.js"></script>
	<script src="/app/controllers/autor.js"></script>
	<script src="/app/controllers/manga.js"></script>
	<script src="/app/controllers/login.js"></script>
	<script src="/app/controllers/nav.js"></script>
	<script src="/app/controllers/registrar.js"></script>
	<script src="/app/services/auth-service.js"></script>
	<script src="/app/controllers/home.js"></script>
	<script src="/app/controllers/genero-detalhe.js"></script>
	<script src="/app/services/generos-service.js"></script>
	<script src="/app/controllers/autor-detalhe.js"></script>
	<script src="/app/controllers/grupo-detalhe.js"></script>
	<script src="/app/controllers/pesquisa.js"></script>
	<script src="/app/services/pesquisa-service.js"></script>
	<!-- Admin Controllers -->
	<script src="/app/controllers/admin/adm-grupo.js"></script>
	<script src="/app/controllers/admin/adm-generos.js"></script>
	<script src="/app/controllers/admin/adm-autor.js"></script>
	<script src="/app/controllers/admin/adm-manga.js"></script>
	<script src="/app/controllers/admin/adm-capitulo.js"></script>
	<script src="/app/controllers/admin/user.js"></script>
	<!--  Carrega bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
	<!-- CSS -->
	<link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	/>
	<!-- Css Customizado -->
	<link href="/app/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!-- Nav -->
	<div ui-view="navView"></div>

	<div id="page">
		<div ui-view="home"></div>
	</div>

	<!-- Footer  -->
	<div id="footer" class="text-center">
		MangasTech
	</div>
</body>

</html>